* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --Green400: hsl(172, 67%, 45%);
    --Green900: hsl(183, 100%, 15%);
    --Grey500: hsl(186, 14%, 43%);
    --Grey400: hsl(184, 14%, 56%);
    --Grey200: hsl(185, 41%, 84%);
    --Grey50: hsl(189, 47%, 97%);
    --White: hsl(0, 100%, 100%);
}
body {
    font-family: 'Space Mono', sans-serif;
    height: 100dvh;
}
main {
    justify-self: center;
}
.title {
    letter-spacing: 20px;
}
.split {
    display: flex;
    flex-direction: column;
    letter-spacing: 10px;
}
